/*
 * Goldibox PocketBeagle overlay:  configure output pins

 * sudo dtc -O dtb -o /lib/firmware/pb_goldibox-00A0.dtbo -b 0 -@ pb_goldibox.dts
 * echo /lib/firmware/pb_goldibox-00A0.dtbo | sudo tee -a /boot/uEnv.txt

 */

/dts-v1/;
/plugin/;

/{
    part_number = "PB_GOLDIBOX";

    /* Not required? */
    exclusive-use =
	/* the pin header uses */
        "P1.02",
        "P1.04",
        "P1.06",
        "P1.20",
	/* the hardware IP uses */
        "gpio2_87",
        "gpio2_89",
        "gpio0_5",
        "gpio0_20";

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pb_goldibox_pins: pb_goldibox_pins {
		/* Configure all as output low */
                pinctrl-single,pins = <
		    /* 1.02 Pin 57  GPIO 87 */
		    0x8e4 0x2f
		    /* 1.04 Pin 59  GPIO 89 */
		    0x8ec 0x2f
		    /* 1.06 Pin 87  GPIO 5  */
		    0x95c 0x2f
		    /* 1.20 Pin 109 GPIO 20 */
		    0x9b4 0x2f
		>;
		
            };
        };
    };

    fragment@1 {
        target = <&ocp>;
        __overlay__ {
            pb_goldibox_pinmux {
                compatible = "pb_goldibox_pins";
                status = "okay";
                pinctrl-names = "gpio";
                pinctrl-0 = <&pb_goldibox_pins>;
            };
        };
    };
};


/*

dtc -O dtb -o /lib/firmware/pb_goldibox-00A0.dtbo -b 0 -@ pb_goldibox.dts

#echo bspm_P8_8_17 > /sys/devices/bone_capemgr.?/slots
echo 67 > /sys/class/gpio/export

ls /sys/class/gpio/gpio67/

*/
